.form-container{
    max-width: 600px;
    border-radius: 20px;
}
.form-container, .form-control{
    border:1px solid rgb(100, 84, 195);
}
.eye-icon{
    right: 2ch;
}
.eye-icon.right{
    right: -2ch;
    top: 1.5ch
}